
@{
    Layout = null;
}

@Styles.Render("~/CSS/ProfileCSS")

<div id="profile">

    <div id="leftColumn">

        <img id="avatar" src="~/UploadsPicture/testImage.jpg" alt="Mountain View" style="width:150px; ">
        @*<form method="post" enctype="multipart/form-data">
            <input type="file" id="imagefile" name="imagefile" /><br />
            <input type="submit" value="Save" />
        </form>*@
    </div>

    <div id="rightColumn">
        <div style="margin-top:-5px;">
            <span style="font-size:18px;">Анжела Крофт</span>
            <span style="font-size:12px; float: right; color:#959595">Online</span>
        </div>

        <div style="margin-top: -5px">
            <span style="font-size:12px; color:#959595">Редактировать</span>
            <span style="font-size:12px; float: right; color:#959595">Программирую</span>

        </div>

        <div style="margin-top: 25px">
            <div style="display: inline-block; width: 100px;  vertical-align:top;">
                <span style="font-size:12px;">Страна:</span> <br>
                <span style="font-size:12px;">Город:</span> <br>
                <span style="font-size:12px">Возраст:</span> <br>
                <span style="font-size:12px">Телефон:</span> <br>
                <span style="font-size:12px">Язык:</span> <br> <br>
                <span style="font-size:12px">О себе:</span>
            </div>
            <div style="display: inline-block; width: 220px; vertical-align:top;">
                <span style="font-size:12px">Россия</span> <br>
                <span style="font-size:12px">Красноярск</span> <br>
                <span style="font-size:12px">31 год</span> <br>
                <span style="font-size:12px">-</span> <br>
                <span style="font-size:12px">Русский</span> <br> <br>
                <span style="font-size:12px">Красивый, умный, быстрый, ответственный, люблю собачек и зеленые ргурцы</span> <br>

            </div>

        </div>


    </div>

    <div>

        тут будет стена

    </div>

</div>
